sentimax_ensemble_model.pkl
tfidf_vectorizer.pkl
brainrot_slang_ensemble_model.pkl
brainrot_slang_vectorizer.pkl
emoji_ensemble_model.pkl
emoji_vectorizer.pkl
text_ensemble_model.pkl
text_vectorizer.pkl
filtered_data
edit_data.py
emotions
fix_angry.py
angry
boredom
disappointment
disgust
empty
fear
fun
joy
neutral
sadness
worry
surprise
relief
hate
happiness
label_encoder.pkl
fix.py
test.py
