label, h1{
    color:#fcfaf9
}

body, html {
    background-color: #18181a;
    margin: 0px;
    position: relative;
    height: 100%
}

p{
    color:#fcfaf9
}

.navbar{
    justify-content:space-between;
    align-items: center;
    position: relative;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #26f7fd;
    border-width: 2px;  
    border-style: solid; 
}

.navbar h1:hover{
    color:#26f7fd;
    font-size: 40;
}


.navbar a {
    text-decoration: none;
    color: #dfdfdf;
    font-family: sans-serif;
    margin-left: auto;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
}

.navbar a:hover {
    color:#26f7fd;
    font-size: 20px;

}

.navbar h1{
    font-family: sans-serif;
    color: #fcfaf9;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homescreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homescreen img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.hero p{
    line-height: 1.6;
    max-width: 800px;
    font-size: 20px;
    font-family: sans-serif;
}
.hero h1 {
    font-family: sans-serif;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
}

.hero h1:hover{
    color:#26f7fd;
    font-size: 40;
}

.homescreen h1{
    color: #fcfaf9;
    font-family: sans-serif;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
}

.homescreen h1:hover {
    font-size: 40px;
    color: #26f7fd;
}

.all_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.all_input label{
    font-family: sans-serif;
    font-size: 20px;
}
.all_input button{
    transition-duration: 1s;
    font-family: sans-serif;
    transition-property: 0.3s ease;
}

.all_input button:hover{
    background-color:#26f7fd;
}

.image_input, .text_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #26f7fd;
    border-style: solid;
    border-width: 3px;
    width: 40%;
    min-width: 30%;
    max-width: 70%;
    height: auto;  
    min-height: 400px;
    margin: 10% auto;  
    padding: 20px;
    gap: 40px;
    box-sizing: border-box;
    overflow: auto;
    transition-duration: 0.5s;
    transition: 0.3s ease;
}

.image_input h1 {
    font-family: sans-serif;
    color:#fcfaf9;
    font-size: 30px;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
}

.image_input h1:hover {
    color:#26f7fd;
    font-size: 36px;
}

.text_input h1 {
    font-family: sans-serif;
    color:#fcfaf9;
    transition-duration: 0.5s;
    transition-property: 0.3s ease;
    font-size: 30px;;
}

.text_input h1:hover {
    color:#26f7fd;
    font-size: 36px;
}

.image_input input {
    color:#fcfaf9;
    font-family: sans-serif;
}

.image_input img {
    color:#fcfaf9;
    font-family: sans-serif;
    font-size: 12px;
}


#uploaded-image{
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.easter_egg{
    opacity: 0.003;
    justify-content: center;
    display: flex;
    align-items: center;
}

.all_input{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.text_input p {
    font-family: sans-serif;
    max-width: 800px;
    min-width: 300px;
    width: auto;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    word-break: break-word;
    word-wrap: break-word;
}

.text_input textarea {
    width: auto;               
    max-width: 100%;          
    min-width: 500px;            
    height: auto;             
    max-height: 400px;          
    min-height: 150px;          
    font-family: sans-serif;
    background-color: #dfdfdf;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;              
    padding: 10px;            
    border-radius: 8px;        
}



/* body::before {
    content: "";
    background-size: cover;
    background-image: url("https://qualetics.com/wp-content/uploads/2023/04/sentiment-analysis-and-written-test-emotion-recognition-automated-artificial-intelligence-technologies-happy-man-and-259168367-1-1024x745.jpg") ;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */


/* 
   <img src="https://qualetics.com/wp-content/uploads/2023/04/sentiment-analysis-and-written-test-emotion-recognition-automated-artificial-intelligence-technologies-happy-man-and-259168367-1-1024x745.jpg">
        </div>
*/

/* 
     <div class="hero">
            <h1 id ="about">Sentimax Mission Statement</h1>
            <p>Texted based communication like instant messaging, and emails are a convenient and rapid method of communication. 
                Despite the convenience of instant messaging, it lacks a human element. 
                In a typical conversation, there is eye contact, an audible voice, facial expressions and gestures. 
                Each of these conversational elements are crucial in understanding a person's tone, emotion, and overall message behind the conversation. 
                However, because text based communication lacks these crucial elements, it's often more difficult to understand a persons intended message through a text. 
                Therefore, we offer Sentimax. Sentimax is an AI powered tool that semantically interprets a provided passage in order to predict the intended emotion behind the text. 
                By predicting the emotion of a passage, Sentimax will help users better understand the intended message of the sender, 
                allowing for clearer and more efficient communication.
            </p>
        </div>
*/


